<div appProtected>
  <mat-tab-group>
    <mat-tab label="Terms">
      <ng-template #showTerms>
        <app-term-edit></app-term-edit>
      </ng-template>
      <ng-container *ngIf="isLoading === true; else showTerms">
        <app-spinner></app-spinner>
      </ng-container>
    </mat-tab>
    <mat-tab label="Categories">
      <ng-template #showCategories>
        <app-category-edit></app-category-edit>
      </ng-template>
      <ng-container *ngIf="isLoading === true; else showCategories">
        <app-spinner></app-spinner>
      </ng-container>
    </mat-tab>
    <mat-tab label="Outgoings">
      <ng-template #showOutgoings>
        <app-outgoings-edit></app-outgoings-edit>
      </ng-template>
      <ng-container *ngIf="isLoading === true; else showOutgoings">
        <app-spinner></app-spinner>
      </ng-container>
    </mat-tab>
    <mat-tab label="Exceptions">
      <ng-template #showExceptions>
        <app-exception-edit></app-exception-edit>
      </ng-template>
      <ng-container *ngIf="isLoading === true; else showExceptions">
        <app-spinner></app-spinner>
      </ng-container>
    </mat-tab>
  </mat-tab-group>
</div>
