<div class="toolbar" role="banner">
  <mat-icon fontIcon="money">money</mat-icon>
  <span>Budget Tracker</span>
  <div class="spacer"></div>
  <ng-template [ngIf]="isAuthenticated == true">
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
      {{userDisplayName}}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        Settings
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Log out
      </button>
    </mat-menu>
    <button mat-button (click)="toggleRightSidenav()"><mat-icon>menu</mat-icon></button>
  </ng-template>
</div>

