.notification-ui-button {
  width: 100%;
  /* text-align: right; */
  display: block;
  margin: 0;
  background: none;
  border: 1px solid #0f62fe;
}
.notification-ui-content {
  background: none;
  padding: 1.5px;
  overflow: auto;
  overflow-y: auto;
  overflow-x: auto;
  flex: 1 1 auto;
}
.notification-ui-item {
  width: 100%;
  padding: 0px;
}
.notification-ui-item > svg {
  margin-right: 2.5px;
  margin-left: 2.5px;
}
.notification-ui-item--button {
  margin: 0;
  margin-bottom: 0.25em;
  padding: 0.75em;
  line-height: 1;
  min-height: 5vh;
  background: none;
  border: 1px solid #0f62fe;
  width: 100%;
  /* width: 0%; */
}
.bx--toast-notification__details {
  width: 100%;
}

#clear-all {
  flex: 0 1 auto;
}
.notification-manager {
  display: flex;
  flex-direction: column;
  /* flex: 0 1 auto;
  overflow-y: scroll; */
  height: 100%;
}
.no-messages {
  padding: 0.75em;
}
