.filter-toolbar {
  display: flex;
}
.filter-toolbar--dropdown {
  flex: 1 1 auto;
}
.cds--dropdown__wrapper.cds--list-box__wrapper {
  width: 100%;
}
.filter-toolbar > .table-action-button {
  margin-right: 0;
  width: 48px;
  align-items: center;
  justify-content: center;
  /* padding-left: 0.7rem; */
}
.filter-toolbar
  > .filter-toolbar--dropdown
  > div:nth-child(1)
  > label:nth-child(1) {
  display: none;
}

.warning-message-container {
  display: flex;
  flex-direction: row;
}

.warning-message-icon {
  width: 64px;
  background: yellow;
  border-radius: 50%;
}

.warning-message-icon > svg {
  width: 62px;
  height: 62px;
  padding: 5px;
}

.warning-message-text {
  padding-left: 10px;
}
