<div class="dashboard-container" appProtected>
  <ng-template #showExpenditures>
    <mat-toolbar>
      <mat-select #periodSelect (valueChange)="onPeriodSelected(periodSelect.value)" [value]="selectedPeriod">
        <mat-option *ngFor="let item of getDropDownOptions('periodId')" [value]="item.key">
          {{item.value.name}}
        </mat-option>
      </mat-select>
      <button mat-button (click)="createPeriod()">Create Period</button>
      <button mat-button>Lock Period</button>
    </mat-toolbar>
    <ng-container *ngIf="!selectedPeriod">
      <p>Select a period</p>
    </ng-container>
  </ng-template>
  <ng-container *ngIf="isLoading === true; else showExpenditures">
    <app-spinner></app-spinner>
  </ng-container>
  <mat-card [ngClass]="{'hidden' :isLoading === true||!selectedPeriod}">
   Expected total cost:  <span>{{expectedTotal}}</span>
    <mat-card-content>
      <ng-container #Table></ng-container>
    </mat-card-content>
    <mat-card-actions align="right">
      <button mat-button
              class="success" (click)="onSave(['expenditure'])">
        save
        <mat-icon>done</mat-icon>
      </button>
      <button mat-button class="error">
        revert
        <mat-icon>refresh</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

</div>
