<ng-container *ngIf="env.production === false">
  <div class="devMode">
    Development Mode
  </div>
</ng-container>
<div class="draw-flex">
  <ng-template #dialogPh></ng-template>
  <app-navigation-bar></app-navigation-bar>
  <div class="content">
    <mat-drawer-container class="example-container" hasBackdrop="false">
      <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="draw-flex">
          <a routerLink="/" mat-button>Overview</a>
          <a routerLink="/setup" routerLinkActive="active" mat-button>Setup</a>
          <a routerLink="/expenditures" routerLinkActive="active" mat-button>Expenditures</a>
          <a routerLink="/scenarios" routerLinkActive="active" mat-button>Scenarios</a>
        </div>
      </mat-drawer>
      <mat-drawer-content>
          <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>
