.settings-header {
  padding: 0;
  margin: 0;
  position: unset;
  display: block;
  background-color: #ebebeb;
  border: none;
}
.action-button {
  width: 0%;
  display: block;
}
.action-button-label {
  text-align: center;
  width: 50px;
  display: block;
}
.tabs-control {
  width: 100%;
}
.cds--tab-content {
  padding: 0;
}
.settings-toolbar {
  display: flex;
  flex-direction: row;
  .toolbar-spacer {
    margin-left: 2px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-left: 1px solid #f4f4f4;
    margin-right: 2px;
  }
  .cds--btn { 
    min-width: 135px;
  }
  .cds--search {
    flex: 1 1 auto;
    min-width: none;
    max-width: none;
    .cds--search-input { 
      min-width: none;
      max-width: none; 
    }
  }
}
